{% extends 'macarons_app/base.html' %}
{% block title %}Add Device{% endblock %}

{% block content %}

<div class="container">
    <br>
    <h1>Add Device</h1>
    {% if flash_error %}
        <div class="alert alert-danger" role="alert">
        <p>{{ flash_error }}</p>
        </div>
    {% endif %}
    <br>
    <form action="{% url 'add_device_view' %}" method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    <h3>Name</h3>
    <input id="name" type="text" name="name" value="{{ name }}">
    <br>
    <br>

    <h3>Description</h3>
    <input id="description" type="text" name="description" value="{{ description }}">
    <br>
    <br>

    <h3>Device Type</h3>
    <select name="device_type" id="device_type">
        <option value="ESP32-WROOM-32">ESP32-WROOM-32</option>
        <option value="ESP32-C3-12F">ESP32-C3-12F</option>
    </select>
    <br>
    <br>

    <h3>main.py</h3>
    <input id="main_file" type="file" name="main_file" />
    {% if main_error %}
        <div class="alert alert-danger" role="alert">
        <p>{{ main_error }}</p>
        </div>
    {% endif %}
    <br>
    <br>

    <h3>config.json</h3>
    {% if config_error %}
        <div class="alert alert-danger" role="alert">
        <p>{{ config_error }}</p>
        </div>
    {% endif %}
    <input id="config_file" type="file" name="config_file" />
    <br>
    <br>

    <h3>readings.json</h3>
    {% if readings_error %}
        <div class="alert alert-danger" role="alert">
        <p>{{ readings_error }}</p>
        </div>
    {% endif %}
    <input id="readings_file" type="file" name="readings_file" />
    <br>
    <br>
    <input type="submit" value="Submit">
    <br>

</form>
    <br>
</div>
{% endblock %}