{% extends 'macarons_app/base.html' %}
{% block title %}Device List{% endblock %}

{% block content %}

<div class="container">
    <br>
    <h1>Device List</h1>
    <br>

    <div class="list-group list-group-flush">
    {% for device in object_list %}
        <a href="{% url 'update_device_view' device.pk %}" class="list-group-item list-group-item-action">
            {{ device.name }}
        </a>
    {% endfor %}
    </div>
</div>


{% endblock %}


