{% extends 'macarons_app/base.html' %}
{% block title %}Script List{% endblock %}

{% block content %}

<div class="container">
    <br>
    <h1>Script List</h1>
    <br>

    <div class="list-group list-group-flush">
    {% for script in object_list %}
        <a href="{% url 'update_script_view' script.pk %}" class="list-group-item list-group-item-action">
            {{ script.name }}
        </a>
    {% endfor %}
    </div>
</div>


{% endblock %}


