{% extends 'macarons_app/base.html' %}
{% block title %}Update Device{% endblock %}

{% block content %}
<div class="container">
    <br>
    <h1>Device Details</h1>
    <br>


    <form action="{% url 'update_device_view' pk %}" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <h3>General</h3>
        <p>pk = {{ pk }}</p>

        <label for="name">Name: </label>
        <input id="name" type="text" name="name" value="{{ name }}">
        <br>
        <br>

        <label for="description">Description: </label>
        <input id="description" type="text" name="description" value="{{ description }}">
        <br>
        <br>


        <h3>Readings</h3>
        {% if readings_upload_error %}
        <div class="alert alert-danger" role="alert">
        <p>{{ readings_upload_error }}</p>
        </div>
        {% endif %}
        {% if staged_readings %}
        <p>Readings Staged for update</p>
        {% endif %}
        <input id="readings_file" type="file" name="readings_file" />
        <br>
        <br>
        {% for key, value in readings.items %}
            <p>{{ key }} {% if value.1 %}(Tracked){% endif %}: {{ value.0 }} </p>
            <br>
        {% endfor %}
        <br>

        <h3>Configuration Parameters</h3>
        {% if config_upload_error %}
        <div class="alert alert-danger" role="alert">
        <p>{{ config_upload_error }}</p>
        </div>
        {% endif %}
        <input id="config_file" type="file" name="config_file" />
        <br>
        <br>
        {% if staged_config %}
        <p>Status: Staged for update</p>
        {% else %}
        <p>Status: Up to date</p>
        {% endif %}

        {% if config_error %}
        <div class="alert alert-danger" role="alert">
        <p>{{ config_error }}</p>
        </div>
        {% endif %}

        <p>script_pk = {{ script_pk }}</p>
        <br>
        <br>

        {% for key, value, type in kvt %}
            {% if key != 'script_pk' %}
                <label for="{{ key }}">{{ key }}: </label>
                {% if type == 'str' %}
                <input id="{{ key }}" type="text" name="{{ key }}" value="{{ value }}">
                {% elif type == 'int' %}
                <input id="{{ key }}" type="number" step="1" name="{{ key }}" value="{{ value }}">
                {% elif type == 'float' %}
                <input id="{{ key }}" type="number" step="any" name="{{ key }}" value="{{ value }}">
                {% elif type == 'bool' %}
                <select name="{{ key }}" id="{{ key }}">
                    <option value="t" {% if value == True %}selected="selected"{% endif %}>True</option>
                    <option value="f" {% if value == False %}selected="selected"{% endif %}>False</option>
                </select>
                {% endif %}
                <br>
                <br>
            {% endif %}
        {% endfor %}
        <br>

        <h3>Main File:</h3>
        {% if main_error %}
        <div class="alert alert-danger" role="alert">
        <p>{{ main_error }}</p>
        </div>
        {% endif %}
        <input id="main_file" type="file" name="main_file" />
        <br><br>
        <input type="submit" value="Save">
</form>

    <br>

    {% if staged_main %}
    <p>Status: Staged for update</p>
    {% else %}
    <p>Status: Up to date</p>
    {% endif %}
<br>
<p> {{ main }} </p>
</div>




{% endblock %}